
/* Cart */
.cart-container {
  padding: 2rem 4rem;
  margin-top: 3rem;
}
.cart-container .h2 {
  font-weight: 400 !important;
  font-size: 30px !important;
  text-align: center;
}
.cart-container .titles {
  margin: 2rem 0 1rem 0;
}
.cart-container .titles .h3 {
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
}
.cart-item,
.cart-container .titles {
  display: grid;
  align-items: center;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  column-gap: 0.5rem;
}
.cart-item {
  border-top: 1px solid rgb(187, 187, 187);
  padding: 1rem 0;
}
.cart-container .titles .product-title {
  padding-left: 0.5rem;
}
.cart-container .titles .total {
  padding-right: 0.5rem;
  justify-self: right;
}
.cart-item .cart-product {
  display: flex;
  align-items: center;
}
.cart-item .cart-product img {
  width: 100px;
  max-width: 100%;
  margin-right: 1rem;
}
.cart-item .cart-product h3 {
  font-weight: 400;
}

.cart-item .cart-product .button {
  border: none;
  outline: none;
  margin-top: 0.7rem;
  cursor: pointer;
  background: none;
  color: var(--danger-color);
  font-size: 1rem !important;
}
.cart-item .cart-product .button:hover {
  color: var(--text-color);
}

.cart-detail{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cart-item .cart-product-quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 130px;
  max-width: 100%;
  border: 0.5px solid rgb(177, 177, 177);
  border-radius: 5px;
  text-align: center;
}
.cart-item .cart-product-quantity .button {
  border: none;
  outline: none;
  background: none;
  padding: 0 1.5rem;
  cursor: pointer;
  font-size: 1rem !important;
}

.cart-item .cart-product-quantity .button:hover{
    border: none !important;
    outline: none !important;
}
.cart-item .cart-product-quantity .button:focus{
    border: none !important;
    outline: none !important;
}
.cart-item .cart-product-quantity .count {
  padding: 0.7rem 0;
}
.cart-item .cart-product-total-price {
  padding-right: 0.5rem;
  justify-self: right;
  font-weight: 700;
}

/* cart summary */
.cart-summary {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  border-top: 1px solid rgb(187, 187, 187);
  padding-top: 2rem;
}
.cart-summary .clear-btn {
  width: 130px;
  height: 40px;
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 1.15px;
  border: 0.5px solid var(--primary-color);
  color: var(--text-color);
  background: none;
  outline: none;
  cursor: pointer;
}
.cart-checkout {
  width: 270px;
  max-width: 100%;
}
.cart-checkout .subtotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  margin-bottom: .5rem;
  text-align: center;
}
.cart-checkout .amount {
  font-weight: 500;
}
.cart-checkout .p {
  font-size: 14px;
  font-weight: 500;
  margin-bottom: 2rem !important;
  /* margin: 2rem 0; */

}
.cart-checkout .button {
  width: 100%;
  height: 40px;
  letter-spacing: 1.15px;
  background-color: var(--primary-color) !important;
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 16px;
}

.cart-checkout .button:hover{
    background-color: var(--text-color) !important;
    color: var(--background-color) !important;
}
.continue-shopping,
.start-shopping {
  margin-top: 1rem;
}
.arrow{
    color: var(--link-color);
    font-size: 1.3rem;
}
.continue-shopping .a,
.start-shopping .a {
  color: var(--link-color);
  text-decoration: none;
  display: flex;
  text-align: center;
  align-items: center;
}

.continue-shopping .a span:hover,
.start-shopping .a:hover, .arrow:hover {
    color: var(--text-color) !important;
}

.continue-shopping .a .span,
.start-shopping .a .span {
  margin-left: 0.5rem;
  color: var(--link-color)
}
.cart-empty {
  font-size: 20px;
  margin-top: 2rem;
  color: rgb(84, 84, 84);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 6rem 0;
}

.login{
    color: var(--primary-color) !important;
}

/* Responsive */

@media (max-width: 665px) {
  /* NavBar */
  .nav-bar {
    padding: 0 1rem;
  }
  .nav-bar .h2 {
    font-size: 30px;
  margin-top: 2rem;
  }

  /* Cart */
  .cart-container {
    padding: 2rem;
  }
  .cart-container .titles {
    display: none;
  }
  .cart-item,
  .cart-container .titles {
    grid-template-columns: 1fr;
    row-gap: 1rem;
  }
  .cart-item .cart-product-total-price {
    justify-self: left;
  }
  .cart-summary {
    flex-direction: column;
  }
  .cart-summary .clear-btn {
    margin-bottom: 2rem;
  }
 
  .cart-item{
    margin-top: 3rem;
  }
}

