
@import url('https://fonts.googleapis.com/css2?family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');



:root {
    --text-color: #000033;
    --link-color: #AAAAAA;
    --background-color: #FFF;
    --primary-color:  #fcbd01;
    --box-shadow:  0px 8px 16px rgba(0, 0, 0, 0.05);
    --primary-color-light: #eaaa32;
    --danger-color: #d32e2d;
    --button-text-color: #FFF;
    --product-background-color:  #f9f9e1;
    --footer-background:  #001324;
    --divider-color: #AAAAAA;
    --border-color: #EBEBEB;
    --divider-color: #aaaaaa;
    --switch-active: #398b38;
    --black-border-color: #000000;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}


html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.body {
  font-family: 'Sora';
}
