
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 2rem;
  box-shadow: var(--box-shadow) !important;
  background-color: var(--background-color);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 99;
}
.nav-link {
  display: flex;
  align-items: center;
  gap: 30px;
}
.li{
  list-style: none;
}
.link {
  color: var(--text-color) !important;
  font-weight: 500 !important;
  text-decoration: none;
  font-size: 16px !important;
}

.utils {
  display: flex;
  gap: 4rem;
  align-items: center;
}


.button {
  display: flex;
  gap: 1rem;
}
.logo {
  display: flex;
  gap: 0.5rem;
}

.harun {
  font-size: 28px !important;
  font-weight: 800 !important;
}

.cloth {
  font-size: 28px !important;
  font-weight: 800 !important;
  color: var(--primary-color) !important;
}

.btn-login {
  height: 45px !important;
  width: 100px;
  border-radius: 5px !important;
  font-size: 16px !important;
}
.btn-signup {
  background-color: var(--primary-color) !important;
  height: 45px !important;
  width: 100px;
  border-radius: 5px !important;
  font-size: 16px !important;
}

.hd {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem !important;
}
.single-menu {
  display: none;
}
@media (max-width: 1024px) {
 
   .single-menu {
    display: block;
  }
  .sidesheet-btn-wrapper {
    display: none;
  }

  
  .link-mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-left: 1.5rem;
    align-items: flex-start;
  }

  .side-menu {
    display: flex;
    flex-direction: column;
    gap: 24px;
    justify-content: left !important;
    padding-top: 40px;
    overflow: hidden;
  }
}

@media (max-width: 760px) {


  .harun {
    font-size: 20px !important;
  }
  .cloth {
    font-size: 20px !important;
  }


  .single-menu {
    display: block;
  }
  .container {
    padding: 1.5rem;
  }


  .sidesheet-btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }


  .login-text{
    color: var(--primary-color) !important;
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

   .sign-text{
    font-size: 1rem !important;
    font-weight: 500 !important;
  }

  .btn-login {
  height: 45px !important;
  width: 80px;
  border-radius: 5px !important;
  font-size: 14px !important;
}
.btn-signup {
  background-color: none !important;
  height: 45px !important;
  width: 80px;
    border-radius: none !important;

  font-size: 14px !important;
}

.utils {
  display: flex;
  gap: 1rem;
  align-items: center;
}
}


@media (max-width: 390px) {

  .harun {
    font-size: 16px !important;
  }
  .cloth {
    font-size: 14px !important;
  }

    .btn-login {
  height: 0 !important;
  width: 0 !important;

}
.btn-signup {
  background-color: none !important;
  color: var(--primary-color) !important;
  height: 0 !important;
  width: 0 !important;
 
}
}

